/* BACKGROUNDS */
.Sunny {
  background-image: url("./images/sunny.jpeg");
}

.Clouds {
  background-image: url("./images/clouds.jpg");
}

.Mist {
  background-image: url("./images/mist.jpeg");
}

.Haze {
  background-image: url("./images/haze.jpeg");
}

.Rain {
  background-image: url("./images/rain.jpeg");
}

.Thunderstorm {
  background-image: url("./images/thunder.jpeg");
}

.Clear {
  background-image: url("./images/clear.jpeg");
}

.input-group {
  width: 65%;
  margin: auto;
}

.size {
  background-repeat: no-repeat;
  background-size: cover;
}

.city > .container {
  margin-top: 25px;
}

.weather {
  background-color: rgba(255, 255, 255, 0.4);
}